docker                            
docker-compose                    
fastapi                          
gensim
huggingface_hub                           
matplotlib                        
numpy                             
pandas                            
scikit-learn                            
scipy                            
seaborn                           
spacy                            
torch                       
torchtext  
torchvision                     
tqdm                             
transformers
evaluate
sentencepiece
accelerate
datasets     
langchain          