allennlp                           
docker                            
docker-compose                    
fastapi                          
gensim
huggingface_hub                           
matplotlib                        
numpy                             
pandas                            
scikit-learn                            
scipy                            
seaborn                           
spacy                            
torch                       
torchtext                       
tqdm                             
transformers               