quiz/*
solution/assignment3-machine-translation-10
solution/assignment4-resume-parser-5
solution/assignment5-sentence-bert-10
solution/assignment6-student-layer-initialization-5
solution/assignment7-ait-gpt-10